body {
    transition: 1s;
}

.img-responsive {
    width: 100%;
}
/* GENERAL */
h2 {
    color: #5C6B99;
    font-size: 32px;
}

.btn.btn-cn-primary {
    background-color: #5C6B99;
    border-color: #3f4f82;
}

.btn.btn-cn-primary:hover {
    background-color: #3f4f82;
    border-color: #2d3e73;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #3f4f82;
    background-color: #fff;
    border-color: #3f4f82;
}

.btn.btn-cn-primary:active {
    color: #3f4f82;
    background-color: #fff;
    border-color: #3f4f82;
}
/* GENERAL */

