/*-- CONTACT --*/
.cn-contact {
    background-color: #fff;
    min-height: 500px;
    box-shadow: 0 0 1em #333;
    padding: 25px 0;
    position: relative;
}

.cn-contact-number svg {
    margin-right: 10px;
}

.cn-contact-number span {
    font-size: 22px;
    margin: 20px 0;
}

.cn-contact-numbers {
    box-shadow: inset 0 0 0.6em #ccc;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
}

.cn-contact .btn.btn-cn-primary {
    background-color: #5C6B99;
    border-color: #3f4f82;
}

.cn-contact .btn.btn-cn-primary:hover {
    background-color: #3f4f82;
    border-color: #2d3e73;
}

.cn-contact-address, .cn-contact-worktime {
    padding-left: 20px;
}

@media (max-width: 768px) { 
    .cn-contact-numbers {
        margin-top: 30px;
    }
}

/*-- CONTACT --*/