.bg-cn-nav {
    background-color: #5C6B99;
    box-shadow: 0 0 0em #333;
}

.bg-cn-nav.sticky {
    box-shadow: 0 0 1em #333;
    transition: 0.5s;
}

#cn-navbar a.navbar-brand {
    width: 25%;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/imgs/Logo_Letras_01.png')
}


@media (max-width: 768px) { 
    #cn-navbar a.navbar-brand {
        width: 75%;
    }
}